body {
  padding: 0px;
  margin: 0px;
}
.main {
  max-height: 100%;
  
}
.task {
  background-color: aqua;
  text-align: center;
  padding: 2px;
  margin: 2px;
  height: 80px;
}


.profile {
  display: flex;
  padding: 2px;
  margin: 1px;
  box-sizing: border-box;
  justify-content: space-around;
}
